

body{    
    overflow-x: hidden;
    font-family: 'FrutigerNext_LT_Regular', "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    vertical-align: baseline;
    background: transparent;
    counter-reset: counted;
}

#app{
    margin-left: 65px;
    margin-top: 100px;
    margin-right: 10px;
}

li{
    list-style: none;
}
.navbar-inverse {    
    border: none !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 14px;
}
#side-navigation ul li {
    padding-left: 20px;
}
.minwidth{
    /* color: red !important; */
    width: 80px !important;
    overflow:hidden;
}
.maxwidth{
    /* color: green; */
    width: 200px !important;
    overflow:visible;
}
.side-navigation-min{
    width: 110px !important;    
    transition: width 1s;
}
.side-navigation-max{
    width: 200px !important;     
    transition: width 1s;  
}
a:focus, a:hover { 
    text-decoration: none;
}

.table-border {
    border-spacing: 0;
    /* border: 1px solid #e8e8e8; */
}
.table-border>thead>tr th {
    font-weight: normal!important;
}
.table-border th {
    padding: 15px 10px !important;
    display: table-cell;
    vertical-align: middle;
    /* background: none scroll 0 0 #f3f4f7; */
    line-height: normal;
    text-transform: uppercase;
    outline: none;
    background: #f8f9fb;
    border-bottom: 1px solid #e8e8e8;
}
thead tr th {
    height: 30px;
    line-height: 30px;
    /* text-align: left; */
}
label, th {
    font-weight: normal !important;
}
th {
    text-align: left;
}
tbody {
    border-top: 0px solid black;
}
.table-border td {
    padding: 15px 10px 15px 10px !important;
    display: table-cell;
    vertical-align: middle !important;
    border-radius: 2px;
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
}
.failed{
    color: red;
}
.success{
    color: green;
}

.submenu-navigation-menu {
    height: 42px;
    /* background: #fff; */
    background: #fefefe;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.17);
    border-top: 1px solid #dddddd;
}
.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}
.text-center {
    text-align: center;
}
.appicon-cell {
    display: table-cell!important;
    /* min-width: 130px !important; */
    padding-top: 9px;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
}
.text-bg {
    font-size: 17px !important;
}
.pull-left {
    float: left !important;
}
.appicon-cell.active a:nth-child(2) {
    color: #33b3e5 !important;
}
.appicon-cell-icon-margin {
    font-size: 15px;
    margin-left: 8px;
    color: #555;
    padding-top: 3px;
}
.submenu-navigation-menu .is-active{
    color: #00a3d7 !important;
}
.submenu-navigation-menu .appicon-cell .tab-active{    
    border-bottom: 3px solid #00a3d7 !important;
}
.appicon-cell a{
    padding-bottom: 4px;
}
.form-group {
    font-size: 14px;
    color: #35414c !important;
    font-family: 'FrutigerNext_LT_Regular';
    font-weight: normal!important;
}
.input-select {    
    padding: 6px 12px;
    color: #7997b2;
    background: #fff url(#) no-repeat 95% 50%;
    background: #fff url(#) no-repeat calc(100% - 10px) 50%;
    /* background-image: url(../images/down-arrow.svg); */
    box-sizing: border-box;
    border: solid 1px #dedede;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
}
.form-group label {
    text-align: left !important;
}
label, th {
    font-weight: normal !important;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    /* font-weight: bold; */
}
.pl-0{
    padding-left: 0px !important;
}
.pr-0{
    padding-right: 0px !important;
}

.di-block {
    display: inline-block !important;
}
.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 200px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #dedede;
    margin-bottom: 0px !important;
}
.form-group {
    font-size: 14px;
    color: #35414c !important;
    font-family: 'FrutigerNext_LT_Regular';
    font-weight: normal!important;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: 15px;
    right: -10px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    box-shadow: none;
    border-radius: 0px;
    color: #7997b2;
    display: block;
    font-size: 15px !important;
    height: 40px;
    line-height: 1.42857;
    padding: 4px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #dedede;
    font-weight: lighter;
}

.search-form .form-group:hover, .search-form .form-group.hover {
    width: 300px;
}
.pl-15{
    padding-left: 15px !important;
}
.button-primary {
    color: #fff;
    background-color: #00a3d7;
    border-color: #00a3d7;
    text-transform: uppercase;
    padding: 6px 15px !important;
}
.button-m {
    display: inline-block;
    padding: 6px 12px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.button-primary:hover, .button-primary:focus, .button-primary:active, .button-primary.active, .open .dropdown-toggle.button-primary {
    text-decoration: none;
    color: #fff;
    background: #00b4ee;
    border: 1px solid #00a3d7;
}
button:focus {
    outline: 0 !important;
}
.mt-10{
    margin-top:10px !important;
}
.mt-15{
    margin-top:15px !important;
}
.icon8{
    height:8px;
    width:8px;
}
.icon12{
    height:12px;
    width:12px;
}
.icon16{
    height:16px;
    width:16px;
}
.icon24{
    height:24px;
    width:24px;
}
.icon32{
    height:32px;
    width:32px;
    display: inline-block;
}
.icon48{
    height:48px;
    width:48px;
}
.icon128{
    height:128px;
    width:128px;
}
.main-logo {
    /* background: url(../images/svg_icons/logo.svg); */
    width: 140px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: 4px 3px;
    margin-left: -101px;
    transition: 50ms ease-out 0.1s;
}
#side-navigation li a{
    color: #aaaaaa;
}
#side-navigation li a:hover, #side-navigation li a:selected{
    color: #03aadd !important;
}
.ml-5{
    margin-left:5px !important;
}
.ml-10{
    margin-left:10px !important;
}
.ml-15{
    margin-left:15px !important;    
}
.ml-20{
    margin-left:20px !important;
}
.hover-logo{
    width: 140px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: 4px 3px;
    margin-left:0px;
    transition: 200ms ease-in .1s;
}
.main-product {
    width: 140px;
    height: 43px;
    margin-left: -141px;
    transition: 200ms ease-out .1s;
}
.hover-product{
    width: 140px;
    height: 43px;
    margin-left:0px;
    transition: 100ms ease-in .4s;
}
.product-name{
    position: absolute;
    bottom: 0px;
    height: 60px;
}
#side-navigation li:hover .module{
    color:#03aadd !important;
}
#side-navigation li .module{
    margin-left:18px !important;
}
.icon-edit{
    background: url(/../../images/svg_icons/icon-edit-inactive.svg) no-repeat !important;
    height: 32px;
    width:32px;   	
}
.is-active .icon-edit{
    background: url(/../../images/svg_icons/icon-edit.svg) no-repeat !important; 
    height: 32px;
    width:32px; 
    border:none;
}
.is-active .icon-apps,  li:hover > a > .icon-apps{
    background: url(/../../images/svg_icons/icon-apps.svg) no-repeat !important; 
}
.icon-apps{
    background: url(/../../images/svg_icons/icon-apps-inactive.svg) no-repeat !important; 
}
.is-active .icon-settings, li:hover > a >  .icon-settings {
    background: url(/../../images/svg_icons/icon-settings.svg) no-repeat !important; 
}
.icon-settings{
    background: url(/../../images/svg_icons/icon-settings-inactive.svg) no-repeat !important; 
}
.is-active .icon-reports, li:hover > a >  .icon-reports{
    background: url(/../../images/svg_icons/icon-reports.svg) no-repeat !important; 
}
.icon-reports{
    background: url(/../../images/svg_icons/icon-reports-inactive.svg) no-repeat !important; 
}

.is-active .icon-monitoring, li:hover > a >  .icon-monitoring{
    background: url(/../../images/svg_icons/icon-monitoring.svg) no-repeat !important; 
}
.icon-monitoring{
    background: url(/../../images/svg_icons/icon-monitoring-inactive.svg) no-repeat !important; 
}

.is-active .icon-logs, li:hover > a >  .icon-logs{
    background: url(/../../images/svg_icons/icon-logs.svg) no-repeat !important; 
}
.icon-logs{
    background: url(/../../images/svg_icons/icon-logs-inactive.svg) no-repeat !important; 
}

.is-active .icon-jobs, li:hover > a >  .icon-jobs{
    background: url(/../../images/svg_icons/icon-jobs.svg) no-repeat !important; 
}
.icon-jobs{
    background: url(/../../images/svg_icons/icon-jobs-inactive.svg) no-repeat !important; 
}

.is-active .icon-healthcheck, li:hover > a >  .icon-healthcheck{
    background: url(/../../images/svg_icons/icon-healthcheck.svg) no-repeat !important; 
}
.icon-healthcheck{
    background: url(/../../images/svg_icons/icon-healthcheck-inactive.svg) no-repeat !important; 
}


.w-10{
    width: 10% !important;
}
.w-15{
    width: 15% !important;
}
.w-20{
    width: 20% !important;
}
.w-25{
    width: 25% !important;
}
.w-30{
    width: 30% !important;
}
.w-35{
    width: 35% !important;
}
.w-40{
    width: 40% !important;
}
.w-45{
    width: 45% !important;
}
.w-50{
    width: 50% !important;
}
.w-60{
    width: 60% !important;
}
.w-70{
    width: 70% !important;
}
.w-80{
    width: 80% !important;
}
.w-90{
    width: 90% !important;
}
.w-95{
    width: 95% !important;
}
.w-100{
    width: 100% !important;
}
.mt-20{
    margin-top: 20px !important;
}
.btn .caret{
    margin-left: 10px !important; 
}
.dropdown-menu li{
    color: #7997b2 !important;
}
.dropdown button{
    color: #7997b2 !important;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {    
    background-color: #fff !important;
    border-color: #ccc !important;
}
.input-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    padding: 6px 12px;
    color: #7997b2;
    /* background: #fff url(#) no-repeat 95% 50%; */
    background: #fff url(#) no-repeat calc(100% - 10px) 50%;
    background-image: url(/../../images/svg_icons/down-arrow.svg);
    box-sizing: border-box;
    border: solid 1px #dedede;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 35px;
}
.d-none{
    display:none;
}
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    /* border-radius: 4px; */
    color: #212121;
    
    border-color: #EEEEEE;    
    line-height: 16px;    
    padding: 4px 0 4px 10px;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}
.panel-title > a > i {
    margin-right: 10px;
}

.more-less {
    /* float: right; */
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}
.popover.bottom>.arrow{
    border-bottom-color: #ccc;
}
.popover{
    border: 1px solid #ccc !important;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
}
.panel.panel-default{
    border-top: 8px solid #E4E2E2;
    border-radius: 4px;    
    margin-top: 5px;
    margin-bottom: 25px;
    border-radius: 4px;
}
.panel-body{
    border-top: none !important;
    background: transparent !important;
}
.panel-group .panel:hover {    
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.panel-group .panel {
    /* margin-bottom: 0; */
    overflow: visible !important;    
}
.env-accordion.collapsed {
    background: url(/../../images/svg_icons/icon-collapse.svg) center left no-repeat;
    background-size: 12px 12px;
}
.env-accordion {
    background: url(/../../images/svg_icons/icon-expand-arrow.svg) center left no-repeat;
    background-size: 12px 12px;
}
.v-middle{
    vertical-align: middle;
}
.panel.panel-default{
    background: #ffffff;    
   
    border-radius: 8px 8px 4px 4px
}
.panel-default>.panel-heading{
    background-color:transparent !important;
}
