
button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
.is-active{
  color: #fff !important;  
}
#side-navigation {
  font-size: 15px;
  line-height: 1.4;
  position: fixed;
  left: -45px;
  top: 50px;
  height: 100%;
  width: 200px;
  overflow: hidden;
  cursor: default;
  color: #c8c8c8;
  background: #2a333c;
  overflow-x: hidden;
  z-index: 999;
}
#side-navigation ul {
  width: 200px;
}
#side-navigation li {
  border-top: 1px solid #3B475A !important;
  border-bottom: 1px solid #212121;
}
.nav-collapsed #side-navigation li a {
  background: transparent;
}
#side-navigation li a {
  line-height: 60px;
  font-size: 14px;
}
#main-navbar, #main-navbar {
  background: #00a3d7;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
  background: #0082AC;
}
